<template>
  <div class="hello">
    <b-container>
      <b-row class="justify-content-md-center" cols="10">
        <b-col style="margin-top:0vh;" cols="3">
          <h1>LOGIN</h1>
          <b-form @submit="onLogin" v-if="show">
            <b-form-group id="input-group-1" label="User" label-for="input-1">
              <b-form-input
                id="input-1"
                v-model="form.user"
                type="text"
                required
                placeholder="Enter User"
              ></b-form-input>
            </b-form-group>

            <b-form-group
              id="input-group-2"
              label="Password"
              label-for="input-2"
            >
              <b-form-input
                id="input-2"
                v-model="form.password"
                type="password"
                required
                placeholder="Enter Password"
              >
              </b-form-input>
            </b-form-group>

            <b-button type="submit" class="mr-6" variant="primary"
              >Login</b-button
            >
          </b-form>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  data () {
    return {
      form: {
        user: '',
        password: ''
      },
      show: true,
      con: false
    }
  },
  methods: {
    onLogin (evt) {
      evt.preventDefault()
      if (this.form.user === 'Felidas' && this.form.password === '95219633') {
        this.$router.push('/dashboard/company')
      } else {
        this.con = true
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
