<template>
  <div>
    <b-navbar type="dark" variant="dark">
      <b-navbar-nav>
        <b-nav-item href="#">Home</b-nav-item>

        <!-- Navbar dropdowns -->
        <b-nav-item-dropdown text="Menu" right>
          <b-dropdown-item href="#"><router-link to="/dashboard/company">Company</router-link>

          </b-dropdown-item>
          <b-dropdown-item href="#"><router-link to="/dashboard/job">Workposition</router-link>
          </b-dropdown-item>
        </b-nav-item-dropdown>

        <b-nav-item-dropdown text="User" right>
          <b-dropdown-item href="#"><router-link to="/">Logout</router-link>
          </b-dropdown-item>
        </b-nav-item-dropdown>
      </b-navbar-nav>
    </b-navbar>
  </div>
</template>
