<template>
  <div>
    <b-button variant="success" class="float-right" @click="addNewCompany"
      >Add New</b-button
    >

    <b-modal
      id="modal-form-company"
      ref="modal-form-company"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="Name Company"
          label-for="name"
          :valid-feedback="invalidFeedbackName"
          :invalid-feedback="invalidFeedbackName"
          :state="stateName"
        >
          <b-form-input
            id="name"
            v-model="form.name_company"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="Description Company"
          label-for="gender"
          :valid-feedback="invalidFeedbackGender"
          :invalid-feedback="invalidFeedbackGender"
          :state="stateGender"
        >
          <b-form-input
            id="input-3"
            v-model="form.description_company"
            required
          ></b-form-input>
        </b-form-group>
      </form>
      <b-card class="mt-3" header="Form Data Result">
        <pre class="m-0">{{ form }}</pre>
      </b-card>
    </b-modal>
    <b-table striped hover :items="companyList" :fields="fields">
      <template v-slot:cell(operation)="data">
        <b-button @click="editCompany(data.item)">Edit</b-button>
        &nbsp;
        <b-button variant="danger" @click="delCompany(data.item)">Delete</b-button>
      </template>
    </b-table>
  </div>
</template>

<script>
import CompanyService from './CompanyService'
export default {
  data () {
    return {
      fields: [
        {
          key: 'id',
          label: 'Id'
        },
        {
          key: 'name_company',
          label: 'Company Name'
        },
        {
          key: 'description_company',
          label: 'Company Description'
        },
        {
          key: 'operation',
          label: 'Operation'
        }
      ],
      title: 'เพิ่มผู้ใช้ใหม่',
      form: {
        id: -1,
        name_company: '',
        description_company: null
      },
      companyList: []
    }
  },
  methods: {
    editCompany (company) {
      console.log('Edit')
      console.log(company)
      this.title = 'แก้ไขผู้ใช้'
      this.form = { ...company }
      this.$bvModal.show('modal-form-company')
    },
    delCompany (company) {
      console.log('Delete')
      console.log(company)
      this.$bvModal
        .msgBoxConfirm(
          'Please confirm that you want to delete Company ' + company.name + ' ?',
          {
            title: 'Please Confirm',
            size: 'sm',
            buttonSize: 'sm',
            okVariant: 'danger',
            okTitle: 'YES',
            cancelTitle: 'NO',
            footerClass: 'p-2',
            hideHeaderClose: false,
            centered: true
          }
        )
        .then(value => {
          if (value) {
            CompanyService.deleteCompany(company)
            this.companyList = CompanyService.getCompanys()
          }
        })
    },
    addNewCompany (company) {
      console.log('Add new company')
      this.$bvModal.show('modal-form-company')
    },
    resetModal () {
      this.form = {
        id: -1,
        name_company: '',
        description_company: null
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // Check Validate
      if (this.stateName === false || this.stateGender === false) {
        return
      }
      // Do when pass validation
      if (this.form.id > 0) {
        CompanyService.updateCompany(this.form)
        this.companyList = CompanyService.getCompanys()
      } else {
        CompanyService.addCompany(this.form)
        this.companyList = CompanyService.getCompanys()
      }

      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-company')
      })
    },

    addCompany (company) {
      company.id = this.lastId++
      this.companyList.push(company)
    },
    updateCompany (company) {
      const index = this.companyList.findIndex(item => item.id === company.id)
      this.companyList.splice(index, 1, company)
    },
    deleteCompany (company) {
      const index = this.companyList.findIndex(item => item.id === company.id)
      this.companyList.splice(index, 1)
    }
  },
  computed: {
    stateName () {
      return this.form.name_company.length >= 2
    },
    invalidFeedbackName () {
      if (this.form.name_company.length > 2) {
        return ''
      } else if (this.form.name_company.length > 0) {
        return 'ต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'Please input Name Company.'
      }
    },
    vaildFeedbackName () {
      return this.stateName === true ? 'Suscess' : ''
    },
    stateGender () {
      return this.form.description_company != null
    },
    invalidFeedbackGender () {
      if (this.form.description_company != null) {
        return ''
      } else {
        return 'Please input Company Description.'
      }
    }
  },
  vaildFeedbackGender () {
    return this.stateGender === true ? 'Suscess' : ''
  },
  mounted () {
    console.log('vue component is mounted.')
    this.companyList = CompanyService.getCompanys()
  }
}
</script>
