<template>
  <div>
    <b-button variant="success" class="float-right" @click="addNewWorkposition"
      >Add New</b-button
    >

    <b-modal
      id="modal-form-workposition"
      ref="modal-form-workposition"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="Name Company"
          label-for="name"
          :valid-feedback="invalidFeedbackName"
          :invalid-feedback="invalidFeedbackName"
          :state="stateName"
        >
          <b-form-input
            id="name"
            v-model="form.name_position"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="Description Company"
          label-for="gender"
          :valid-feedback="invalidFeedbackGender"
          :invalid-feedback="invalidFeedbackGender"
          :state="stateGender"
        >
          <b-form-input
            id="input-3"
            v-model="form.description_position"
            required
          ></b-form-input>
        </b-form-group>
      </form>
      <b-card class="mt-3" header="Form Data Result">
        <pre class="m-0">{{ form }}</pre>
      </b-card>
    </b-modal>
    <b-table striped hover :items="workpositionList" :fields="fields">
      <template v-slot:cell(operation)="data">
        <b-button @click="editWorkPosition(data.item)">Edit</b-button>
        &nbsp;
        <b-button variant="danger" @click="delWorkPosition(data.item)">Delete</b-button>
      </template>
    </b-table>
  </div>
</template>

<script>
import workpositionService from './JobService'
export default {
  data () {
    return {
      fields: [
        {
          key: 'id',
          label: 'Id'
        },
        {
          key: 'name_position',
          label: 'Position Name'
        },
        {
          key: 'description_position',
          label: 'Description Position'
        },
        {
          key: 'operation',
          label: 'Operation'
        }
      ],
      title: 'เพิ่มผู้ใช้ใหม่',
      form: {
        id: -1,
        name_position: '',
        description_position: null
      },
      workpositionList: []
    }
  },
  methods: {
    editWorkPosition (workposition) {
      console.log('Edit')
      console.log(workposition)
      this.title = 'แก้ไขผู้ใช้'
      this.form = { ...workposition }
      this.$bvModal.show('modal-form-workposition')
    },
    delWorkPosition (workposition) {
      console.log('Delete')
      console.log(workposition)
      this.$bvModal
        .msgBoxConfirm(
          'Please confirm that you want to delete WorkPosition ' + workposition.name + ' ?',
          {
            title: 'Please Confirm',
            size: 'sm',
            buttonSize: 'sm',
            okVariant: 'danger',
            okTitle: 'YES',
            cancelTitle: 'NO',
            footerClass: 'p-2',
            hideHeaderClose: false,
            centered: true
          }
        )
        .then(value => {
          if (value) {
            workpositionService.deleteWorkPosition(workposition)
            this.workpositionList = workpositionService.getWorkPositions()
          }
        })
    },
    addNewWorkPosition (workposition) {
      console.log('Add new workposition')
      this.$bvModal.show('modal-form-workposition')
    },
    resetModal () {
      this.form = {
        id: -1,
        name_position: '',
        description_position: null
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // Check Validate
      if (this.stateName === false || this.stateGender === false) {
        return
      }
      // Do when pass validation
      if (this.form.id > 0) {
        workpositionService.updateWorkPosition(this.form)
        this.workpositionList = workpositionService.getWorkPositions()
      } else {
        workpositionService.addWorkPosition(this.form)
        this.workpositionList = workpositionService.getWorkPositions()
      }

      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-workposition')
      })
    },

    addWorkPosition (workposition) {
      workposition.id = this.lastId++
      this.workpositionList.push(workposition)
    },
    updateWorkPosition (workposition) {
      const index = this.workpositionList.findIndex(item => item.id === workposition.id)
      this.workpositionList.splice(index, 1, workposition)
    },
    deleteWorkPosition (workposition) {
      const index = this.workpositionList.findIndex(item => item.id === workposition.id)
      this.workpositionList.splice(index, 1)
    }
  },
  computed: {
    stateName () {
      return this.form.name_position >= 2
    },
    invalidFeedbackName () {
      if (this.form.name_position > 2) {
        return ''
      } else if (this.form.name_position > 0) {
        return 'ต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'Please input Name position.'
      }
    },
    vaildFeedbackName () {
      return this.stateName === true ? 'Suscess' : ''
    },
    stateGender () {
      return this.form.description_position != null
    },
    invalidFeedbackGender () {
      if (this.form.description_position != null) {
        return ''
      } else {
        return 'Please input Description position.'
      }
    }
  },
  vaildFeedbackGender () {
    return this.stateGender === true ? 'Suscess' : ''
  },
  mounted () {
    console.log('vue component is mounted.')
    this.workpositionList = workpositionService.getWorkPositions()
  }
}
</script>
